
#page-footer {
    border-top:1px solid black;
    color: black;
    background-color: #E6EDF3;

}
.wfv-label {
    color:#F98700;
}
#footer-top {
    margin-top:20px;
}

#footer-left p {
    font-style:italic;
}
#footer-left #footer-tel {
    color:#034B88;
}
#footer-right {
    background:url("../../img/rhywaelle_logo_footer_md.png") no-repeat right;
    height:175px;
}
#footer-right #footer-icons-holder {
    margin-left:8rem;
    line-height:6rem;
}
#footer-right #footer-icons-holder a img {
    height:40px;
    display:inline-block;
}
#footer-icons-holder {
    display:inline;
}
#footer-bottom p {
    text-align:center;
    padding:0 0 1rem 0;
    margin:0;
}
#footer-bottom p a {
    color:black;
}
.footer-copyright {
    padding:1rem 0;
}
.footer-copyright a {
    color: rgba(0, 0, 0, 0.5) !important;
}

.page-footer {
    padding-top: 20px;
    color: #fff;
    background-color: #ff000a;

}