.brand-logo img {
    height:60px;
}

nav {
    color: #fff;
    background-color: #ff000a;
}

@media only screen and (max-width: 992px) {
    nav .brand-logo {
      left: 48%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
    }
}